@import '../../Style/Posts.scss';

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 10px;

    .post-container {
        @extend .post-container;
    }
}