.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .loader-icon {
        margin-right: 7px;
        top: 2px;
        animation: spin 1s infinite linear;
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }

    .header {
        height: 45px;
        margin-top: 10px;

        .btn {
            margin-left: 10px;
        }
    }
    .title {
        font-size: 36px;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }
    .welcome {
        font-size: 24px;
        display: flex;
        justify-content: center;
    }
    .content-form {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .form-group {
        label {
            margin-bottom: 5px;
            font-weight: 400;
        }
    }
    span {
        font-style: italic;
    }
    .input-button {
        width: 100%;

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }
}